<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="css/cosmo.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4"><h1>Test</h1></div>
  </div>
  <div class="row">
    <div>Cookie passed: <%= cookie %></div>
    <div>Session: <%= session %></div>
  </div>
</div>
</body>
</html>